<p id="notice"><%= notice %></p>

<h1>Add Teaches</h1>

<table>
  <thead>
    <tr>
    <th>Teach ID</th>
      <th>Teacher</th>
      <th>Subject</th>
      <th colspan="3">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @teaches.each do |teach| %>
      <tr>
        <td style="text-align: center;"><%= teach.teacher.id %></td>
        <td><%= teach.teacher.name %></td>
        <td><%= teach.subject.subject_title %></td>
        <td><%= link_to 'Show', teach %></td>
        <td><%= link_to 'Edit', edit_teach_path(teach) %></td>
        <td><%= link_to 'Destroy', teach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teach', new_teach_path %>
