<p id="notice"><%= notice %></p>

<p style="color: #555;">
  <strong>Teacher:</strong>
  <%= @teach.teacher.id %>
</p>

<p style="color: #555;">
  <strong>Subject:</strong>
  <%= @teach.subject.subject_title %>
</p>

<%= link_to 'Edit', edit_teach_path(@teach) %> |
<%= link_to 'Back', teaches_path %>
