<p id="notice"><%= notice %></p>

<h1>Add Studies</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Student</th>
      <th>Study ID</th>
      <th colspan="3">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.subject.subject_title %></td>
        <td><%= study.student.student_name %></td>
        <td style="text-align: center;"><%= study.id %></td>
        <td><%= link_to 'Show', study %></td>
        <td><%= link_to 'Edit', edit_study_path(study) %></td>
        <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study', new_study_path %>
