<p id="notice"><%= notice %></p>

<p style="color: #555;">
  <strong>Subject:</strong>
  <%= @study.subject.subject_title %>
</p>

<p style="color: #555;">
  <strong>Student:</strong>
  <%= @study.student.student_name %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
